/*Font Import*/
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,200);


body {
  padding:0;
  margin:0;
  background-color: #26A86D;
  text-align:center;
  font-family:'Raleway', serif;
}

p {
}

a {
  text-decoration:none;
  color:#32DB8E;
  transition:color .7s ease-in-out;
}


a.fa :hover {
  color:#26A86D;
}

ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Slabo 27px';
}

h3 {
  margin-bottom:4px;
  margin-top:10px;
}

h5 {
  font-family:'Raleway', serif;
  color:grey;
  margin:0;
  display:inline;
}


h1 {
  font-size:4em;
  text-transform:uppercase;
  color:white;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
  margin-top:16px;
  margin-bottom:16px;
}

h3.name {
  font-size:2em;
}


.profile-card {
  margin:0 auto;
  width:600px;
  background-color:white;
  border-radius:5px;
  padding:40px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 0.75);
  overflow:auto;
}


/***** Wrappers *****/
.profile-card-wrapper {
  margin:0 auto;
  margin-top:200px;
}

.img-wrapper, .text-wrapper {
  float:left;
  display:inline-block;
}

.img-wrapper {
  width:30%;
}
.text-wrapper{
  width:50%;
  text-align:left;
  padding-left:60px;
}
/***** END Wrappers *****/



/**** Left side, images and buttons ****/
.img-wrapper a {
  display:block;
  width:80%;
}

img.profile-pic {
  border-radius:100%;
  border:10px solid #32DB8E;
  transition:border-color .8s ease-in-out;
  transition:opacity .8s ease-in-out;
  margin:0 auto;
  margin-bottom:20px;
}
img.profile-pic:hover {
  opacity:.8;
  border-color:#26A86D;
}

.button {
  background-color:#32DB8E;
  padding:10px;
  color:white;
  border-radius:5px;
  margin:0 auto;
  margin-bottom:20px;
}

.button:hover {
  -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.75);
}
/**** END Left side, images and buttons ****/


/**** Right side, profile text ****/
.profile-info {
  margin-top:10px;
  overflow:hidden;
}

.profile-info ul li {
  margin-bottom:6px;
}

.attributes, .values {
  font-size:14px;;
  float:left;
}


.attributes {
  font-family: 'Raleway', serif;
  font-weight:700;
  width:32%;
  text-align:left;
}

.values {
  width:62%;
  padding-left:10px;
}


/**** END Right side, profile text ****/

.social {
  display:block;
  width:100%;
}


/*ANIMATION STUFF*/
@-webkit-keyframes grow-shrink {
  0%,100% {transform:scale(1);}
  50% {transform:scale(1.2);}
}

@-moz-keyframes grow-shrink {
  0%,100% { font-size:2em; }
  33% { font-size:2.2em;}
  66% { font-size:2.5em;}
  100% { font-size:2.2em;}
}
@-o-keyframes grow-shrink {
  0%,100% { font-size:2em; }
  33% { font-size:2.2em;}
  66% { font-size:2.5em;}
  100% { font-size:2.2em;}
}
@keyframes grow-shrink {
  0%,100% { font-size:2em; }
  33% { font-size:2.2em;}
  66% { font-size:2.5em;}
  100% { font-size:2.2em;}
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
